*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: assets;
  font-family: 'Syne-Medium', sans-serif;
}
/*Logo*/
.logo {
  align-items: center;
  text-align: center;
  left: 45%;
  right: auto;
  top: 15px;
  bottom: auto;
  background: #cc9af4;
}
/*Navigation*/
.menuline{
  position: relative;
  right: 49px;
  size: 20%;  
  top: -70px;
  float: right;
  font-size: 50px;
  cursor: pointer;
  color:#ffffff;
  margin-bottom: -80px;
}
.nav {
  align-items: center;
  text-align: center;
  left: 45%;
  right: auto;
  top: 15px;
  bottom: auto;
  background: #cc9af4;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cc9af4;
  background-color: #cc9af4b2;
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #a366d5;
}
.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*Hover Menu*/
.hover-title {
  font-weight: 200;
  display: inline;
  pointer-events: auto;
  cursor: pointer;
}
.hover-image {
  visibility: hidden;
}
body:not(.mobile) .hover-title:hover + .hover-image {
  visibility: visible;
  pointer-events: none;
}
.hover-image {
  display: flex;
  position: fixed;
  /* Change Position */
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/* Change width and height to scale images */
  width: 20%;
  height: 20%;
}
.hover-image img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0;
}



/*Video*/
video {
  width: 100%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;

}
.responsive-video {
  width: 70vw;
  max-width: 560px ;
  margin:auto;
  margin-top: 3%;
}
.responsive-video iframe {
  width: 70vw;
  max-width: 560px ;
  height:calc((9/16)*70vw);
  max-height:calc((9/16)*560px);
}

/*Gallery*/ 
  .container {
    padding: 40px 15%;
    margin-top: 5%;
  }
  .heading-text {
    margin-top: 3%;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #4a4a4a;
  }
  .heading-text span {
    font-weight: 100;
    color: #4a4a4a;
  }
  /* Responsive image gallery rules begin*/
  .image-gallery {
    /* Mobile first */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .image-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
  }
  @media only screen and (min-width: 768px) {
    .image-gallery {
      flex-direction: row;
    }
  }
  /* over styles */
  .image-item {
    position: relative;
    cursor: pointer;
  }
  .over {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(235, 213, 250, 0.588);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* hover */
  .image-item:hover .over {
    transform: scale(1);
  }

/* Text */ 
.intro {
  font-size: 1.5vw;
  font-weight: 600;
  text-align: left;
  width: 20em;
  color: #4a4a4a;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  /*text-shadow: 2px 2px 5px rgb(72, 65, 65);*/
}
.Projects {
  font-size: 2rem;
  font-weight: 600;
  color: #4a4a4a;
  position:absolute;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding-bottom: 20%;
  left: 15%;
  text-align: left;
  /*text-shadow: 2px 2px 5px rgb(72, 65, 65);*/
}
.fliesstext{
  font-size: 1.5rem;
  font-weight: 100;
  hyphens: auto; 
	text-align: justify;
}


.h1{
  font-size: 1.6vw;
  font-weight: bolder ;
  color: white;
  position:absolute;
  top: 45%;
  left: 15%;
  text-align: left;
}
.headline {
  font-size: 4vw;
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 7%;
  text-shadow:0 0 30px rgba(0, 0, 0, 0.30);
}
  /* unvisited link */
  a.linkss:link {
    color: #4a4a4a;
  }
    /* visited link */
  a.linkss:visited {
    color: #f4c99a;
  }
    /* mouse over link */
  a.linkss:hover {
    color: #a366d5;
  }
    /* selected link */
  a.linkss:active {
    color: rgb(177, 103, 233);
  }


  /*Button Top */
/* From uiverse.io by @kirzin */
button {
  text-decoration: none;
  position: sticky;
  bottom: 5%;
  left: 89%;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 5em;
  height: 3em;
  line-height: 1.3em;
  text-align: center;
  background: linear-gradient(90deg,#a679da,#b33c7e,#d5a351,#a679da);
  background-size: 100%;
  border-radius: 20px;
  z-index: 1;
 }
 button:hover {
  animation: ani 8s linear infinite;
  border: none;
 }
 @keyframes ani {
  0% {
   background-position: 0%;
  }
  100% {
   background-position: 400%;
  }
 } 
button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#a679da,#b33c7e,#d5a351,#a679da);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
 }
 button:hover::before {
  filter: blur(20px);
 }
 button:active {
  background: linear-gradient(32deg,#a679da,#b33c7e,#d5a351,#a679da);
 }
   /* unvisited link */
   a.links:link {
    color: #ffffff;
    text-decoration: none;
  }
    /* visited link */
  a.links:visited {
    color: #ffffff;
    text-decoration: none;
  }
    /* mouse over link */
  a.links:hover {
    color: #ffffff;
    text-decoration: none;
  }
    /* selected link */
  a.links:active {
    color: rgb(177, 103, 233);
    text-decoration: none;
  }
/*Responsive*/
/*Clean*/

